<div class="container-md px-5 py-3 border">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Select</th>
        <th scope="col">BookName</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><input type="checkbox" /></td>
        <td>Otto</td>
        <td>
          <button>Edit</button> <button>Assign</button>
          <button>❌ Remove</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><input type="checkbox" /></td>
        <td>Jacob</td>

        <td>
          <button>Edit</button> <button>Assign</button>
          <button>❌ Remove</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><input type="checkbox" /></td>
        <td>Larry</td>
        <td>
          <button>Edit</button> <button>Assign</button>
          <button>❌ Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
