<div class="container-md px-5 py-3 border">
  {% include "components/assignmodal.html" %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Select</th>
        <th scope="col">BookName</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for book in available_books %}
      <tr>
        <th scope="row">1</th>
        <td><input type="checkbox" /></td>
        <td>{{ book.name }}</td>
        <td>
          <button type="button">Edit</button>
          <!-- TODO: assign to open the modal to change the section -->
          <!-- Button trigger modal -->
          <button
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Assign
          </button>
          <!-- TODO: Remove the book from the db -->
          <button>❌ Remove</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
