<div class="container-md px-5 py-3 border">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Select</th>
        <th scope="col">BookName</th>
        <th scope="col">Username</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for book_issue in book_requests %}
      <tr>
        <th scope="row">{{ book_issue.id }}</th>
        <td><input type="checkbox" /></td>
        <!-- ✅TODO: Change Book_issue to book name -->
        <td>{{ book_issue.book.name }}</td>
        <td>{{ book_issue.user.name }}</td>
        <td>
          <form
            action="/librarian/issue_book/{{ book_issue.id }}"
            method="POST"
          >
            <button type="submit" name="action">Approve</button>
          </form>
          <form
            action="/librarian/reject_books/{{ book_issue.id }}"
            method="POST"
          >
            <button type="submit" name="action">❌</button>
          </form>
        </td>
      </tr>
      <!-- {% endfor %} -->
    </tbody>
  </table>
</div>

{% block script %}
<script>
  // TODO: Add multiple select option to issue or revoke
</script>
{% endblock %}
