<div class="container-md px-5 py-3 border">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Select</th>
        <th scope="col">BookName</th>
        <th scope="col">Username</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for book_issue in book_requests %}
      <tr>
        <th scope="row">{{ book_issue.id }}</th>
        <td><input type="checkbox" /></td>
        <td>{{ book_issue }}</td>
        <td>{{ book_issue.user.name }}</td>
        <td><button>Approve</button> <button>❌</button></td>
      </tr>
      <!-- {% endfor %} -->
    </tbody>
  </table>
</div>
