<div class="container-md px-5 py-3 border">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Select</th>
        <th scope="col">BookName</th>
        <th scope="col">Username</th>
        <th scope="col">Date Borrowed</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for book_issue in currently_issued %}
      <tr>
        <th scope="row">{{ book_issue.id }}</th>
        <td><input type="checkbox" /></td>
        <!-- TODO: Change Book_issue to book name -->
        <td>{{ book_issue }}</td>
        <td>{{ book_issue.user.name }}</td>
        <!--TODO: Convert the date  -->
        <td>{{ book_issue.date_issued }}</td>
        <!--TODO: Revoke the access -->
        <td>
          <form
            action="/librarian/revoke_book/{{ book_issue.id }}"
            method="POST"
          >
            <button type="submit" name="action">❌ Revoke</button>
          </form>
        </td>
      </tr>
      <!-- {% endfor %} -->
    </tbody>
  </table>
</div>
