<div>
  <h2>Books Borrowed</h2>
  <div class="container-md px-5 py-3 border">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">BookName</th>
          <th scope="col">Date of Borrowing</th>
          <th scope="col">Last Date of Return</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Otto</td>
          <td>20 Feb 24</td>
          <td>24 feb 24</td>
          <td><button>Read</button><button>❌ Return</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>

          <td>Jacob</td>
          <td>20 Feb 24</td>
          <td>24 feb 24</td>
          <td><button>Read</button><button>❌ Return</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>20 Feb 24</td>
          <td>24 feb 24</td>
          <td><button>Read</button><button>❌ Return</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
