<div>
  <h2>Books Borrowed</h2>
  <div class="container-md px-5 py-3 border">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">BookName</th>
          <th scope="col">Date of Borrowing</th>
          <th scope="col">Last Date of Return</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books_borrowed %}
        <tr>
          <th scope="row">1</th>
          <!--TODO: Book Name -->
          <td>{{ book }}</td>
          <td>{{ book.date_issued }}</td>
          <td>{{ book.return_date }}</td>
          <td>
            <form action="/user/view_book/{{ book.book_id }}" method="POST">
              <button type="submit" name="action">Read</button>
            </form>
            <form action="/user/return_book/{{ book.book_id }}" method="POST">
              <button type="submit" name="action">❌ Return</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
