<!-- prettier-ignore -->
{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block head %}
<title>Library Manager</title>
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div class="content">
  <div class="d-flex flex-row mx-5 justify-content-evenly">
    <form>
      <h1 class="p-2">E Book store Home</h1>
      <input type="text" class="p-2" />
      <button class="p-2">🔎</button>
      <button class="p-2">Login / Signup</button>
    </form>
  </div>
  <div class="container text-center py-5">
    <div class="row mb-3">
      <div class="col-4 d-flex flex-column px-5 border">
        <h2>Sections</h2>
        <!-- {% for section in sections %}
        <a> {{ section }}</a>
        {% endfor %} -->
        <a> Section 1</a>
        <a> Section 2</a>
        <a> Section 3</a>
        <a> Section 4</a>
      </div>
      <div class="col-8 px-5 border">
        <h2>Books</h2>
        <div class="container d-flex text-center align-items-center">
          <div class="row g-4 py-5">
            <!-- {% for book in books %}
            <div
              class="col-4 m-1 container d-flex flex-column px-5 py-3 border"
            >
              <div class="container border items-center">{{ book.image }}</div>
              <h3>{{ book.name }}</h3>
              <h4>by {{ book.author }}</h4>
            </div>
            {% endfor %} -->

            <div
              class="col-4 m-1 container d-flex flex-column px-5 py-3 border"
            >
              <div class="container border items-center">Image</div>
              <h3>Book 1</h3>
              <h4>by Author 1</h4>
            </div>
            <div
              class="col-4 m-1 container d-flex flex-column px-5 py-3 border"
            >
              <div class="container border items-center">Image</div>
              <h3>Book 1</h3>
              <h4>by Author 1</h4>
            </div>
            <div
              class="col-4 m-1 container d-flex flex-column px-5 py-3 border"
            >
              <div class="container border items-center">Image</div>
              <h3>Book 1</h3>
              <h4>by Author 1</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
