<!-- prettier-ignore -->
{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block head %}
<title>Library Manager</title>
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div class="content wrapper">
  <div class="d-flex flex-row mx-5 justify-content-evenly">
    <div class="nav">
      <div class="p-2">E Book store Home</div>
      <div class="flex-gap-12">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
              Search
            </button>
          </div>
        </div>
        <button type="button" class="btn btn-light border">Login</button>
        <button type="button" class="btn btn-dark">Signup</button>
      </div>
    </div>
  </div>
  <div class="container text-center py-5">
    <div class="row mb-3">
      <div class="col-3 d-flex flex-column px-5 border">
        <h2>Sections</h2>
        <!-- {% for section in sections %}
        <a> {{ section }}</a>
        {% endfor %} -->
        <a> Section 1</a>
        <a> Section 2</a>
        <a> Section 3</a>
        <a> Section 4</a>
      </div>
      <div class="col-9 px-5 border container-wrapper-flex-col-16">
        <h3>Books</h3>
        <div style="width: 100%" class="row">
          <div class="col-sm-5 col-md-6">
            <div class="card book-card">
              <img
                src="https://m.media-amazon.com/images/I/71onC7VRHbL._SL1500_.jpg"
                class="book-img"
              />
              <h3>Book 1</h3>
              <h4>by Author 1</h4>
            </div>
          </div>
          <div class="col-sm-5 col-md-6">
            <div class="card book-card">
              <img
                src="https://m.media-amazon.com/images/I/71onC7VRHbL._SL1500_.jpg"
                class="book-img"
              />
              <h3 class="">Book 1</h3>
              <h4>by Author 1</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
