<!-- prettier-ignore -->
{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block head %}
<title>Library Manager</title>
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div class="content container">
  <h1>Add section</h1>
  <div class="d-flex flex-column py-5">
    <div class="d-flex flex-row mx-5 justify-content-evenly">
      <label for="password">Section Name: </label>
      <input type="text" name="bookName" id="bookName" />
      <div class="d-flex flex-column justify-content-evenly">
        <label for="pdf">Upload Section Image</label>
        <input type="file" name="bookpdf" id="bookpdf" />
      </div>
    </div>

    <div class="input-group py-5">
      <span class="input-group-text">Section Description</span>
      <textarea class="form-control" aria-label="Book content"></textarea>
    </div>
  </div>
</div>
{% endblock %}
