<!-- prettier-ignore -->
{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block head %}
<title>Library Manager</title>
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div class="content">
  <h1>Librarian dashboard</h1>
  <a href="{{ url_for('librarian_add_section')}}">
    <button>Statistics</button>
  </a>
  <br />
  <a href="{{ url_for('librarian_add_section')}}">
    <button type="button">➕ Section</button>
  </a>
  <a>Or</a>
  <a href="{{ url_for('librarian_add_book')}}">
    <button>➕ Book</button>
  </a>
  <br />

  {% include "components/librariandashboard.html" %}
</div>
{% endblock %}
